

.page-size{
    width: 1282px;
    box-sizing: border-box;
    margin: 0 auto;

}

/*top menu start*/

.page-top{
    margin-top: 61px;
    height: 189px;
}

.page-top-logo{
    height: 117px;
    font-size: 80px;
}

.page-top-logo-Ramdajs{
    text-decoration: none;
}

.page-top-logo-Ramdajs-blackText-Ra{
      color: #000000;
}

.page-top-logo-Ramdajs-blueText-mda{
    color:rgb(94,187,230);
}


.top-menu{

    height: 72px;
    background: #35444F;
}
.top-menu-list{
    display: flex;
    height: 72px;
    list-style-type: none; /*убираем точки*/
    justify-content: center;


}

.top-menu-list-link{
    box-sizing: border-box;
    padding-top: 26px;
    display: block;
    height: 72px;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 2px solid #ffffff;
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
}
.border-right{
    border-right: 2px solid #ffffff;
}
.top-menu-list a:hover{
    background: #222F3A;
}

/*top menu end*/

/*content start*/
.content{
    display: flex;
    justify-content: space-between;
    height: 933px;
    margin-top: 50px;
}
.content-leftNav{
    width: 344px;
    height: 395px;
    border: 1px solid #000000;
}

.content-leftNav-list{
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none; /*убираем точки*/
    justify-content: center;

}

.content-leftNav-list-link{
    padding-left: 44px;
    padding-top: 26px;
    height: 79px;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 24px;
    color: #495863;
}
.content-leftNav a:hover {
    color: black;
    background: #DBDBDB;
  }

.content-right{

}

.content-right-img{
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;

}
.content-right-img-style{
    width: 320px;
    height: 381px;
    margin: 73px 297px;
}
.content-right-text{
    height: 303px;
    width: 885px;
}
.content-right-text-paragraph{
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
}

/*content  end*/

/*foot menu start*/

.foot-menu{
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}

.foot-menu-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    padding-top: 20px;


}

.foot-menu-list-link{
    color: #0C1927;
    margin-left: 40px;
    text-decoration: none;

}
.foot-menu-list-Copyright{
    padding-left: 122px;
}

.foot-menu-list a:hover {
    color: #14B9D5;
    background: #DBDBDB;
}