
.font-family *{
    font-family: sans-serif; /* установка шрифта */
}

.page_size { /* разер страницы */
    width: 100%;
    height: 1626px;
}

.centr {
    text-align: center; /* По центру страницы */
}

.height_links { /* Высота блока с сслками */
    height: 78px;
}

ul.links {
    list-style-type: none; /*убираем точки*/
    margin: 0; /* Обнуляем значение отступов */
    padding: 25.5px; /* Значение полей */
}

ul.links li {
    display: inline; /* Отображать как строчный элемент */
    margin-left: 36px; /* Отступ слева */
    margin-right: 36px; /* Отступ спава */

    /*border: 1px solid #000;  Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}

.style_link{
    font-style: normal;
    color: #FF0000; / * красный цвет ссылки */
    font-weight: bold; /* жирный шрифт текста ссылки */
    text-decoration: none; /* убрать подчеркивание ссылки */
    font-size: 18px; /* размер текста шрифта ссылки */
}

 img.wight_img{
     height: 789px; /* высота рисунка */
     top: 78px;
     width: 100%; /* картинка на всю ширину экрана */
     padding: 0; /* отступы вокруг рисунка */
     margin: 0;
 }
.heading_hight{
    height: 115px;
}

 .heading {
     height: 29px;
     padding: 48px 0 38px;
     size: 22px;
     color: #373737;
 }
.paragpaph {
    margin: 0 67.5px 0;
    size: 16px;
    color: #373737;
    text-align: center;
}
.paragraph1_height {
      height: 132px;
}

.paragraph2_height {
    padding: 28px 0 0 0;
    height: 216px;
}
button.btn { /* стиль кнопки */
    background: #FF0000; /* цвет фона */
    color: white; /* цвет текста */
    margin: 60px 0 66px;
    border: none; /* отключение рамки */
    outline: none; /* отключение линии рамки */
    border-radius: 4px;
    padding: 20px 30px;
    width: 191px;
    height: 51px;
}
.copyright_left{
    text-align: right; /* c лева страницы */
    margin: 82px;
    Height: 39px;
}

.Copyright {
    font-weight: bold;
    font-size: 16px;
    color: #373737;
    margin: 0 105px 0 0;
}