.page_size{
  width: 1480px;
  height:  1280px;
}

.logo {
  font-size: 60px; 
  margin-top: 61px;
}

.blueText {
  color:rgb(94,187,230);
}
.blackText {
  color:black;
}

a {
  text-decoration : none
}

.topnav {
  overflow: hidden;
  background-color: rgb(54,68,79);
  display: flex;
  align-items: center;
  justify-content: center;
  width:1283px;
  margin-top: 38px;
}

.topnav a {
  float: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  border:2px solid white;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;


  width: 152px;
  height: 16px;
  left: 286px;
  top: 3px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  text-transform: uppercase;

  color: #FFFFFF;

}

.topnav a:hover {
  background-color: black;
}

.leftnav {
  width: 344px;
  margin-top: 51px;
  left: 100px;
  background: white;
  overflow-x: hidden;
  display:inline-block;
  position:absolute;
  border: 2px solid gray;
}

.leftnav a {
  padding: 10px;
  text-decoration: none;
  font-size: 27px;
  color: gray;
  display: flex;
  transition: padding-left 1s;
}

.leftnav a:hover {
  color: black;
  background : gray;
  padding-left: 50px;
}

.content {
  position: relative;
  margin-left: 396px;
  margin-top: 51px;
  padding: 0px 10px;
}

.content p {
  margin-top: 35px;
  line-height: 24px;
  font-size: 18px;
}

.img_block{
  width: 884px;
  height: 529px;
  display: flex;
  align-items: center;
  justify-content: center;

  left: 344px;
  margin-top: 50px;

  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000
}
.img_block  img {
  margin: 0;
}

.botnav {
  overflow: hidden;
  position: relative;
  background-color: rgb(181,182,186);
  display: inline-block;
  width:1280px;
  left: 100px;
  margin-top: 54px;
}

.botnav a {
  padding: 14px 16px;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
}

.botnav p {
  padding: 14px 16px;
  float: right;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
}

.botnav a:hover {
  color:rgb(51,132,166);
}

