.parent{
    width: 100%;
    height: 600px;
    background: green;
    display: grid;
    grid-template-columns: 100px 1fr 1fr ;

    /*высота строки первого и второго ряда */
    grid-template-rows: 100px 50px;

    /*ширина отступа между стобцами*/
    grid-column-gap: 40px;

    /*ширина отстура между строками*/
    grid-row-gap: 20px;

    /*grid-gap: 20px 40px;*/
    /*автоматическая высота блока*/
    grid-auto-rows: 100px;

    /*повторение колоное два раза по 1 и 2 вракции в итоге 4 колонки*/
    /*grid-template-columns: repeat(2, 1fr 3fr);*/


    /*grid-auto-rows: 1fr 1fr 1fr 1fr;*/
    /*gap:40px;*/
}
.child{
    background: #14B9D5;
    padding: 5px 10px;
    border: 2px solid;
    text-align: center;
}
