.page_size{
    background-image: url("./img/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.top-menu{
    position: absolute;
    width: 100%;
    height: 58px;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.top-menu-logo{
    padding-left: 79px;
}

.left-menu{
    display: flex;
}
.top-menu-logo-link{
    font-family: Ubuntu;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    align-items: center;
}

.left-menu-welcome-links{
    display: flex;
    align-items: center;
    padding-right: 79px;
}

.left-menu-link{
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: #FFFFFF;
}

.left-menu-welcome-text{
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: #FFFFFF;
}

.form{
    box-sizing: border-box;
    padding: 30px 60px 38px 60px ;
    width: 444px;
    height: 584px;
    left: 0px;
    top: 0px;
    display: grid;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}





.form-sign-up-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #434343;

}

.form-head{
    display: flex;
    justify-content: space-between;
}

.form-log-in-text{

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #3CB878;
}

.button{
    text-align: center;
}

.btn{
    color: #FFFFFF; /* цвет текста */
    width: 160px;
    height: 48px;
    cursor: pointer;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.background-blue{
   background: #305DB8;
}

.background-red{
       background: #DF4A32;
}

.button-logo{
    font-size: 28px;
    font-weight: bold;

}

.btn-foot{
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.form-input{
    width: 324px;
    height: 45px;

    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form-input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);

}