.page_size {
    width: 1600px;
    height: 785px;
    right: 0px;
    top: 3461px;

    background: rgba(0, 0, 0, 0.0001);
}
.paragraph1_height{
    display: 428px, 18px, 768px, 385px;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
.paragraph2_height{
    display: 798px, 24px, 48px, 200px;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;

}