.style{
    height: 100%;

}
.stayl_div_1 {
    width: 50%;
    height: 50%;
    padding: 0;
    margin: 0;
    background: red;
}

.section{
    background: green;

    /*прозрачность*/
    opacity: 0.5;
    
    width: 100vw;
    height: 100px;
    font-size: 30px;
}
.p{
    font-size: 2em;

}


    /*height: 50%; не возможно так как родительский body безрамерный*/
    /*
    для исправления */
    /*html, body height: 100%
    html отталкиваеться от видимости */
