*,
*::after,
*::before{
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap; /*елементы переходт на новый ряд сл
    и не помещаются*/

}
.item{
   flex-grow: 1;
    width: 300px;
    padding: 15px;
    border: 1px solid #000000;
}
.item:first-child{
    align-self: flex-end;
    flex-grow: 3;
}
.item:nth-child(2){
    order: -1;
}