.block-parent{
    width: 1000px;
    height: 1000px;
    background: #14B9D5;
    color: chartreuse;

    /*становяться в ряд*/
    display: flex;

    /*В обратном порядке в конце*/
    /*flex-direction: row-reverse;*/

    /*Вернуть элементы в колонку*/
    /*    flex-direction: column;*/

    /*колонка в обратном порядке*/
    /*flex-direction: column-reverse;*/

    /*контент по центру*/
    justify-content: center;

    /*расположить элементы по всей области равномерно  */
    /*justify-content: space-between;*/

    /*контент подтягиваеться к верху друг к другу высота по контенту если не задана*/
    /*align-content: flex-start;*/

    /*элементы по вертикали на всю высоту по умолчанию*/
    /*align-items: stretch;*/

     /*элементы внизу размер по высоте контента*/
    /*align-items: flex-end;*/

    /*сохранять ширину элементов и переносить на следующий ряд, те которые не влезли*/
   flex-wrap: wrap;

}

.block{
    width: 100px;
    /*height: 100px;*/
    background: brown;
    color: green;
    border: 2px solid black;

    /*текст по ценрту*/
    text-align: center;
}

.child-1{
    align-self: center;

}
.child-4{
    /*элемент становиться первым*/
    order: -1;
}