.page_size{
    background-image: url("./img/background_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.wrapper_size{
    box-sizing: border-box;
    width: 1366px;
    height: 768px;

}

.header{
    padding: 46px 165px 17px 178px ;
    display: flex;
    justify-content: space-between;
    width: 1028px;
    height: 61px;

}

.header-logo-content {
    width: 53px;
    height: 47px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}

.header-text{
    margin-left: 8px;
}

.header-text-milan{
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;

}

.header-text-holidays{
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;

}

.header-left-text{
    text-align: end;
    font-size: 18px;
    color: #FFFFFF;
}

.header-left-text-phone{
   padding-top: 19px;

}

.header-left-text-link{
    text-decoration: none;
    color: #FFFFFF;
}

.header-img-white{
    position: relative;
    top: 51px;
}

.header-img-orange{
    position: relative;
    z-index: -2;
}

.header-text-orange:hover{
    color: #F26522;
}

.header-logo-content:hover .header-text-orange{
    color: #F26522;
    z-index: +4;
}


.content{
    margin: 0 auto;
    width: 1030px;
    height: 560px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 262px 262px;
    justify-content: center;
    grid-column-gap: 61px;
    grid-row-gap: 37px;

}

.img-saze{
    width: 300px;
    height: 220px;
}

.content-block{
    position: relative;
}

.foot-menu{
    padding-top: 49px;
}

.content-block-header{

    padding-top: 20px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.footer-copyright{
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
}
.content-block-link{

    text-decoration: none;
}

.content-block-hover{
    z-index: -1;
    /*display: none;*/
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 55px;
    bottom: 43px;
    right: 2px;
    padding: 2px 14px 12px 16px;
    font-size: 20px;
    color: #FFFFFF;

    background: #F26522;
}
.content-block-hover-view{
    display: flex;
    justify-content: space-between;
}

.content-block-hover-h{
    padding-right: 16px;
}
.content-block:hover .content-block-header-text{
    /*color: #F26522;*/
    z-index: 1;
}
.content-block:hover .content-block-header-text_s{
    color: #F26522;
}
.content-block-hover-h::after{
    padding-left: 16px;
    content: '>';

}