/*свойства required в зависимости от выполнения требования*/
input:invalid{
    border: 2px solid green;
}

input:valid{
    border: 4px solid red;
}

/*.child{*/
/*    color: #F26522;*/
/*    display: block;*/

/*    !*время перехода  свойств элемента(есть выбор свойства) *!*/
/*    !*всех(есть выбор свойства) время перехода, задержка, ускорение*!*/
/*    transition: all 2s;*/
/*}*/

/*!*выбрать первый и второй элемент из списка*!*/
/*.child:nth-child(1), .child:nth-child(2) {*/

/*    color: #89CA62;*/
/*}*/

/*.child:nth-child(1), .child:nth-child(2) {*/

/*    color: #89CA62;*/
/*}*/

.child:nth-child(3n){
    /**!*выбрать третий элемент по порядку*!*!*/
    color: #89CA62;
}

.child:not(child-6){
    /*кроме шестого, моно вписывать и по тега, например все кроме h1*/
}
.child:first-of-type{
    /*первый из списка, можно последнего или по номерам*/
    color: #14B9D5;
}
/*изменение в момент нажатия*/
/*.child:active{*/
/*    padding: 50px;*/
/*    margin: 100px;*/
/*}*/

/*.a:link{*/
/*    color: #0C1927;*/
/*}*/

/*a:visited{*/
/*    color: #89CA62;*/
/*}*/
/*a:active{*/
/*    color: brown;*/
/*}*/

/*!*изменение состояния при наведении на элемент курсора мышки*!*/
/*.child:hover{*/
/* color: chartreuse;*/
/*}*/
/*!*псевдоэлемент перед контентом*!*/

/*!*.child::before{*!*/
/*!*content: ':)';*!*/
/*!*}*!*/

/*!*псевдоэлемент после контента*!*/

/*.child::after{*/
/*    content: '';*/
/*    display: block;*/
/*    width: 40px;*/
/*    height: 50px;*/
/*    border: 1px solid blue;*/
/*    background: #89CA62;*/
/*}*/
/*!*стиль первой буквы*!*/
/*.child::first-letter{*/
/*    color: #FF0000;*/
/*    font-size: 30px;*/
/*    font: italic;*/
/*}*/

/*!*стиль первой строки*!*/
/*.child::first-line{*/
/*    color: blueviolet;*/
/*    font-size: 50px;*/
/*    font: italic;*/
/*}*/

/*!*стиль выдиления мышкой текста*!*/
/*.child::selection{*/
/*    color: #FF0000;*/
/*    background: black;*/
/*}*/

/*!*метки перед списком*!*/
/*.item::marker{*/
/*    color: #FF0000;*/
/*    font-size: 35px;*/
/*}*/