*,
*::after,
*::before {
}
.wrapper{
    display: flex; /*  элементы в ряд по горионтали*/
    flex-direction: row-reverse; /*  колонки справа на лево*/
}
.item{
    flex-grow: 1;  /*  равномерно распредиляет столики таблицы
       по горизонтали*/
    width: 300px;
    padding: 15px;
    border: 1px solid #000000;
}

.item:first-child{
    flex-grow: 3;
    /*order: 1;*/
}
.item:nth-child(3){
    /*order: 2;*/
}
.item:nth-child(2){
    /*order: -1;*/
}