
/*The Ham is Wordpress theme begin*/

.top-page{
    margin: 0 auto;
    width: 1920px;
    height: 1012px;
    box-sizing: border-box;
    background-image: url("img/Layer 1 5.jpg");
    background-attachment: fixed;
    background-size: cover;
}


    /*top-menu begin*/


.top-menu{
  box-sizing: border-box;
    height: 120px;
    display: flex;
    justify-content: center;
    background: rgba(94, 93, 88, 0.6);
 }

.top-menu-logo{
    margin-top: 26px;
    box-sizing: border-box;
    background-image: url("img/Polygon 1 1.png");
    width: 58px;
    height: 67px;
    padding: 18px 15px;
}

.top-menu-logo-H{
    font-weight: bold;
    cursor: pointer;
    font-size: 40px;
    line-height: 31px;
    align-items: center;
    color: #FFFFFF;
}

.top-menu-logo-white-text{
    font-weight: bold;
    margin-top: 38px;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.top-menu-logo-blue-text{
    font-weight: bold;
    margin-right: 305px;
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
}

.top-nav{
    margin-top: 49px;
}

.top-menu-list{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.top-nav-links {

    margin-left: 21px;
    color: white;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);

}
.search{
    margin-left: 21px;
}

.top-nav-item a:hover {
    color: #18CFAB;
}


/*!*top menu end*!*/




/*!*header begin*!*/


.top-block-header{
    margin-top: 264px;
    text-align: center;

   }
.top-block-header-1{
    margin-bottom: 22px;

}
.top-block-header-text-h1{

    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
}
.top-block-header-blue-text{
    color: #18CFAB;
}

.top-block-header-2{
    margin-bottom: 22px;
}

.top-block-header-text-h2{
    font-weight: bold;
    font-size: 78px;
    color: #FFFFFF;
}

.top-block-header-text-h3{
    font-size: 34px;
    color: #D4D4D4;
}



.button{
    padding-top: 129px;
    text-align: center;
}

.btn{
    color: white; /* цвет текста */
    margin: 0 13px;
    border: none; /* отключение рамки */
    outline: none; /* отключение линии рамки */
    font-size: 15px;
    width: 169px;
    height: 63px;
    border-radius: 2px;
    cursor: pointer;
}

.background-green{
    background: #18CFAB;;
}

.background-blue{
    background: #00CBF6;;
}

        /*!*header end*!*/



        /*4 option begin-*/

.for-option{
    padding-top: 4px;
    justify-content: center;
    display: flex;

}

.for-option-block{

    text-align: center;
    box-sizing: border-box;
    width: 482px;
    height: 377px;

}

.for-option-block-background-black{
    padding-top: 95px;
    background: #1C2A33;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
}

.for-option-block-background-blue{
    padding-top: 106px;
    background: #18CFAB;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    text-transform: uppercase;

    color: #FFFFFF;
}

.for-option-block-text-black{
    margin-top: 47px;

}

.for-option-block-text-blu{
    margin-top: 58px;
}

            /*4 option end*/




             /*Our Services*/

.our-services{
    width: 100%;
    height: 551px;
    text-align: center;
    padding-top: 83px;
}

.our-services-content{
margin: 0 auto;
    width: 1160px;
    height: 375px;
}

.our-services-content-heading-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.our-services-content-nav{
    justify-content: center;
    text-align: center;
}

 .our-services-content-nav-list{
     padding: 0;
     display: flex;
     text-align: center;
     list-style-type: none;
     justify-content: center;
 }

.our-services-content-nav-item{
    box-sizing: border-box;
    padding-top: 25px;
    align-items: center;
    width: 100%;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.our-services-content-nav-item:hover{
    border: 1.5px solid #18CFAB;
    box-sizing: border-box;
}
.our-services-content-nav-link:focus .our-services-content-nav-item{
    background-color: #18CFAB;
    color: #FFFFFF;
}


.our-services-content-nav-link{

    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #717171;
}
.our-services-content-img-text{
    margin-top: 28px;
    display: flex;
    width: 100%;
    height: 139px;
}

.our-services-content-img{
    width: 192px;
    height: 139px;
    margin-right: 15px;
}

.our-services-content-text{
    width: 952px;
    height: 136px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #777777;
}

            /*Our Services end-*/


            /*everything begin*/

.everything{

    margin: 0 auto;
    padding-top: 127px;
    width: 1920px;
    height: 476px;
    box-sizing: border-box;
    background-image: url("img/Everything is ready.jpg");
    background-attachment: fixed;
    background-size: cover;
}



.everything-header{
   text-align: center;

}
.everything-header-1{
    margin-bottom: 12px;

}
.everything-header-text-h1{

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.everything-header-text-h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    align-items: center;
    text-align: center;

    color: #D8D8D8;
}

.everything-button{
    padding-top: 67px;
    text-align: center;
}


/*everything end*/




/*Our Amazing Work begin*/

.amazing-work{
    padding-top: 90px;
    text-align: center;
    margin: 0 auto;
    width: 1920px;
    height: 1212px;

    background: #E9EDEF;
}

.our-services-content-nav-size{
    margin: 0 auto;
    width: 589px;
    height: 62px;

}
.nav-2-link-background{
    background: #E9EDEF;
    border: 1px solid #DADADA;
}

.amazing-work-img{
    padding-top: 71px;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows:repeat(3, 211px) ;
   justify-content: center;

}

/*Our Amazing Work end*/










/*<!--                            Breaking News begin-->*/


.breaking-news{
    padding-top: 90px;
    text-align: center;
    margin: 0 auto;
    width: 1920px;
    height: 958px;


}

.breaking-news-img{
    display: grid;
    grid-template-columns: repeat(4, 263px);
    grid-template-rows:repeat(2, 1fr) ;
    grid-column-gap: 35px;
    grid-row-gap: 44px;
    justify-content: center;

}

.breaking-news-content-block-img{
    position: relative;
    width: 263px;
    height: 208px;

}

.img-1-background{
    background-image: url("./img/Breaking News/Layer 47.png");
}

.img-2-background{
    background-image: url("./img/Breaking News/Layer 50.png");
}

.img-3-background{
    background-image: url("./img/Breaking News/Layer 51.png");
}
.img-4-background{
    background-image: url("./img/Breaking News/Layer 52.png");
}
.img-5-background{
    background-image: url("./img/Breaking News/Layer 53.png");
}
.img-6-background{
    background-image: url("./img/Breaking News/Layer 54.png");
}
.img-7-background{
    background-image: url("./img/Breaking News/Layer 55.png");
}
.img-8-background{
    background-image: url("./img/Breaking News/Layer 56.png");
}

.breaking-news-content-block-date{
   position: absolute;
    right: 0;
    width: 70px;
    height: 68px;


    background: #203E38;
}
.breaking-news-content-block-date:hover{
    background: #18CFAB;
}

.breaking-news-img-block-heading-text:hover{
    color: #18CFAB;
}


.breaking-news-content-block-date{
    display: grid;
    align-items: center;
    text-align: center;
}

.breaking-news-content-block-date-number, .breaking-news-content-block-date-month{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;


    color: #FFFFFF;

}

.breaking-news-img-block-heading{
    width: 227px;
    height: 40px;
}

.breaking-news-img-block-heading-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    padding-top: 10px;
    text-decoration: none;

    text-align: center;

    color: #717171;

}

.breaking-news-img-block-title{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
padding-left: 40px ;
    padding-right: 30px ;

    width: 210px;
    height: 30px;
}

.breaking-news-img-block-title-text{

    font-family: Montserrat;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}
/*<!--                            Breaking News end->*/







/*<!--                            People Say begin-->*/
.people-say{

    margin: 0 auto;
    width: 1920px;
    height: 853px;
    background-image: url("./img/People Say.jpg");


}

/*<!--                            People Say end-->*/





/*Gallery of best images begin*/

.gallery{
    padding-top: 95px;
    text-align: center;
    margin: 0 auto;
    width: 1920px;
    height: 1366px;

    background: rgba(0, 0, 0, 0.0001);

}


/*Gallery of best images end*/




.bloc-img{
    width: 1160px;
    height: 1021px;
    display: flex;
    flex-flow: column wrap;
    margin-left: -10px;
    margin-top: -10px;
    padding: 0 365px 0 365px;

    }

.bloc-width{

    margin: 10px 10px 10px 0;
    width: 378px;
    text-align: center;
}
.post1{
    height: 263px;
}
.post2{
    height: 263px;
}
.post3{
    height: 290px;
}
.post4{
    height: 380px;
}
.post5{
    height: 247px;
}
.post7{
    display: grid;
    height: 168px;
    grid-template-columns: repeat(2, 1fr);
}

.post7-img{
    width: 180px;
    height: 168px;
}
.post8{
    height: 276px;
}
.post9{
    height: 378px;
}




/*<!--    TOP RATED BEGIN-->*/
.TopRatedImg{
    width: 124px;
    height: 92px;
}
.TopRatedPhoto{

box-sizing: border-box;
    display: grid;
    grid-template-columns: 124px 119px 115px;
    grid-template-rows:repeat(3, 1fr) ;
    grid-gap: 3px 3px;

}

/*<!--    TOP RATED END-->*/



/*FOOTER BEGIN*/

.foot-menu{
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    width: 1922px;
    height: 121px;
    align-items: center;
    background: #22353F;
    text-align: center;
    justify-content: center;
}

.footer-copyright{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.foot-blue-text{
    color: #18CFAB;
}
/*FOOTER END*/