
.parent{
    margin: 200px 300px;
    height: 1200px;
    width: 600px;
    background: #89CA62;
}

.child{
    height: 200px;
    width: 300px;
    background: #14B9D5;
    border: 1px solid black;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.child-1{
    /*фиксирванная позиция в правом
    нижнем углу видимой области */
    /*position: fixed;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*z-index: 1;*/

position: relative;
    top: 100px;
}