.page_size{
    margin: 0 auto;
    width: 1900px;
    /*height: 1030px;*/
    background: #F2F2F2;
}

/*top menu begin*/

.top_menu{
  box-sizing: border-box;
    height: 70px;
    display: flex;
    background: #313131;
    justify-content: space-between;
 }


.top_menu_img{
    width: 81px;
    height: 70px;
    font-style: normal;
    box-sizing: border-box;
    text-align: center;
    padding-top: 22px;
    background: #313131;
    cursor: pointer;
}
.top_menu_Architect{
    margin-top: 22px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}



.top_menu_links{
    margin-top: 22px;
    flex-grow: 1;

}

.top_nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.top_nav_links {

    margin-left: 36px;
    color: white;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
    font-size: 16px;
 }

.top_nav a:hover {
    color: #14B9D5;
    background-color: black;
}

.search{
    box-sizing: border-box;
    padding-top: 22px;
    text-align: center;
    width: 68px;
    height: 70px;
    background: #000000;
    cursor: pointer;
}

/*top menu end*/

/*header begin*/
.top_block{
    width: 1900px;
    height: 369px;
    background-image: url("img/header-background.png");
    background-attachment: fixed;
    background-size: cover;
}
.top_block_content{
    padding-top: 164px;
   }

.Most_popular_posts{

}

.button{
    text-align: center;
}

.btn{
    color: white; /* цвет текста */
    margin: 44px 10px;
    border: none; /* отключение рамки */
    outline: none; /* отключение линии рамки */
    font-size: 18px;
    width: 170px;
    height: 55px;
    border-radius: 4px;
    cursor: pointer;
}

.background-green{
    background: #89CA62;
}

.background-blue{
    background: #14B9D5;
}

.h1{

    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}

.heading_blue_section{
    box-sizing: border-box;
    height: 134px;
    padding-top: 49px;
}
.heading_blue{
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;

    color: #18B4CF;
}
.bloc_img{
    height: 946px;
    display: flex;
    flex-flow: column wrap;
    margin-left: -30px;
    margin-top: -40px;
    padding: 0 365px 0 365px;
    /*justify-content: center;*/
    }

.bloc_width{

    margin: 30px 30px 30px 0;
    width: 370px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.heading_of_post{
    height: 62px;
    margin-top: -5px;
   padding-top: 20px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.post1{

    height: 320px;

}
.post2{

    height: 441px;

}
.post3{

    height: 355px;
}

.post4{

    height: 321px;

}
.post5{

    height: 309px;

}
.post6{

    height: 441px;

}


/*OUR MOST POPULAR CLIENTS BEGIN*/

.page2_size{
    margin: 0 auto;
    width: 1900px;
    /*height: 1030px;*/

}

.second_block{
    box-sizing: border-box;
    width: 100%;
    height: 588px;
    padding-top: 106px;
    background-image: url("img/HeaderSekondBackground.png");
    text-align: center;
    background-attachment: fixed;
    background-size: cover;

}

.Rectangle{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin: 87px auto 106px;

}

.second_block_content_clients{
    padding: 0 510px 0;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr ;


}
.second_block_content_clients_img{
    align-self: center;
}

/*<!--    OUR MOST POPULAR CLIENTS END-->*/


/*<!--    TOP RATED BEGIN-->*/

.TopRatedPhoto{

    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

/*<!--    TOP RATED END-->*/




/*HOT NEWS BEGIN*/

.Hot_news_block2{
    padding: 0 367px 46px 367px ;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 554px 554px;
    grid-column-gap: 60px;
    grid-row-gap: 44px;
    /*height: 1549px;*/
    background: rgba(0, 0, 0, 0.0001);

}

.Hot_news_block1{
    padding: 0 367px 46px 367px ;
    display: grid;
    justify-content: space-between;

    grid-template-columns: 857px 277px;

}

.Hot_news_block3{
    padding: 0 367px 46px 367px ;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 277px 857px ;
}
.Hot_news_post{
    background: #F2F2F2;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 857px;
    height: 259px;

}

.Hot_news_post_content{
    padding: 41px 0 41px 24px;

}

.Hot_news_post_heading{
    padding: 0 24px;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.Hot_news_post_text{

    padding-right: 24px;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;

}

.Hot_news_post_2{
    background: #F2F2F2;
    width: 277px;
    height: 258px;
}

.Hot_news_post_2_content{
    background: #F2F2F2;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03)
}

.Hot_news_post_3{
    text-align: right;
    width: 554px;
    height: 418px;
    background: #F2F2F2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.Hot_news_post_3_content{
    background: #F2F2F2;
    padding: 12px 14px 0 0;
}

.Hot_news_post_3_heading{

}
/*HOT NEWS END*/


/*FOOTER BEGIN*/

.foot-menu{
    box-sizing: border-box;
    padding: 29px 386px 0 367px;
    display: grid;
    grid-template-columns: 512px 110px;
    justify-content: space-between;


    height: 80px;
    background: #000000;
}
.footer-logo{
    display: grid;
    grid-template-columns: 38px 64px;
}
.footer-copyright{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
/*FOOTER END*/